.genreCard {
	display: grid;
	grid-template-rows: 1fr auto;
	background: var(--primary);
	width: 192px;
	height: 192px;
	border-radius: 12px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	user-select: none;
	cursor: pointer;
	transition-duration: 300ms;
	text-align: center;
	text-decoration: none;
}

.genreCard:hover {
	transform: scale(1.05);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

@media (max-width: 480px) {
	.genreCard {
		width: 96px;
		height: 96px;
	}
}