.wrapper {
	display: grid;
	margin-bottom: 60px;
}

.filmForm3 {
	display: grid;
	grid-template-columns: repeat(23, 192px);
	column-gap: 40px;
	overflow-x: auto;
	padding: 10px;
	overscroll-behavior: contain;
}

@media (max-width: 480px) {
	.wrapper {
		margin: 0;
	}

	.filmForm3 {
		grid-template-columns: repeat(23, 96px);
		column-gap: 24px;
		margin-bottom: 30px;
		padding: 5px;
	}
}