.wrapper {
    justify-items: center;
    margin-top: 100px;
    margin-left: 40px;
}

.regDate {
    color: var(--grey-text);
}

.exit {
    color: var(--grey-text);
    cursor: pointer;
    transition-duration: 300ms;
}

.exit:hover {
    color: var(--white);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}