.footer {
	border-top: 1px solid var(--white);
	padding: 40px 40px 0 40px;
	margin-top: 80px;
	margin-bottom: 20px;
	font-size: 0.9rem;
	line-height: 1.25rem;
	font-weight: 400;
	color: var(--white);
	display: grid;
	grid-template-columns: 1fr auto;
}

.name {
	font-weight: 700;
}

.by {
	grid-column-start: 1;
	grid-column-end: -1;
	margin-top: 40px;
	justify-self: center;
	font-size: 0.75rem;
	line-height: 1rem;
}

@media (max-width: 1024px) {
	.footer {
		padding: 40px 0 0 0;
		grid-template-columns: 1fr;
		margin-bottom: 10px;
	}

	.copyright {
		margin-top: 40px;
		text-align: center;
	}

	.links {
		grid-row-start: 1;
		grid-row-end: 2;
		text-align: center;
	}

	.by {
		margin-top: 10px;
	}
}