.ageForm {
	width: 50px;
	height: min-content;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 2px solid var(--grey-text);
	border-radius: 12px;
	text-align: center;
}

.ageText {
	color: var(--grey-text);
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 600;
	margin: 0;
}

@media (max-width: 1024px) {
	.ageForm {
		width: 44px;
		height: min-content;
		padding-top: 1px;
		padding-bottom: 1px;
		border-radius: 8px;
	}
}