.arrow {
    color: var(--white);
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    transition-duration: 300ms;
}

.arrow:hover {
	color: var(--primary);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}