.filmForm2 {
	display: grid;
	grid-template-columns: repeat(auto-fit, 256px);
	gap: 40px;
	justify-content: space-between;
}

.movieCard {
	width: 256px;
	height: 384px;
	border-radius: 12px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	user-select: none;
	cursor: pointer;
	transition-duration: 300ms;
}

.movieCard:hover {
	transform: scale(1.05);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

@media (max-width: 480px) {
	.filmForm2 {
		grid-template-columns: repeat(auto-fit, 128px);
		gap: 20px;
	}

	.movieCard {
		width: 128px;
		height: 192px;
	}
}