.linksForm {
	color: var(--white);
}

.vk, 
.telegram, 
.discord, 
.youtube, 
.twitter {
	color: var(--white);
	margin-left: 20px;
	margin-right: 20px;
	font-size: 1.5rem;
	line-height: 2rem;
	cursor: pointer;
	transition-duration: 300ms;
	
}

.vk:hover {
	color: #0077FF;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

.telegram:hover {
	color: #2AABEE;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

.discord:hover {
	color: #5865F2;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

.youtube:hover {
	color: #FF0000;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

.twitter:hover {
	color: #1DA1F2;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

@media (max-width: 480px) {
	.vk,
	.telegram,
	.discord,
	.youtube,
	.twitter {
			margin-left: 15px;
			margin-right: 15px;
		}
}