.filmForm1 {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: 1fr auto;
	background: url(https://images7.alphacoders.com/634/thumb-1920-634857.jpg);
	border-radius: 12px;
	height: 384px;
	margin-top: 100px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	user-select: none;
	margin-bottom: 60px;
	grid-template-areas:
			". ."
			"filmForm1_block .";
}


.filmForm1_block {
	grid-area: filmForm1_block;
	display: grid;
	grid-template-columns: auto;
	grid-row: 2;
	grid-template-rows: auto 1fr;
	justify-items: center;
	background: rgba(30, 58, 138, 0.8);
	border-radius: 0 12px 0 12px;
	width: 288px;
	height: 144px;
	text-align: center;
}

@media (max-width: 1024px) {
	.filmForm1 {
		height: 288px;
	}

	.filmForm1_block {
		width: 256px;
		height: 112px;
	}
}

@media (max-width: 480px) {
	.filmForm1 {
		height: 192px;
		margin-bottom: 30px;
		margin-top: 90px;
		
	}

	.filmForm1_block {
		width: 144px;
		height: 64px;
	}
}