.wrapper {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-areas:
	". link1 .";
	padding-left: 10px;
	padding-right: 10px;
	align-items: center;
}

.link1 {
	text-align: center;
	grid-area: link1;
}